<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">{{titleModal}}</h6>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <label for="">Codigo</label>
                <input type="text" [attr.disabled]="specialty.id ? '' : null" class="form-control" placeholder="Ingrese codigo" [(ngModel)]="specialty.codigo">
            </div>
            <div class="col-lg-12" style="margin-top: 1rem;">
                <label for="">Descripción</label>
                <input type="text" class="form-control" placeholder="Ingrese descripción" [(ngModel)]="specialty.descripcion">
            </div>
            <div class="col-lg-12" style="margin-top: 1rem;">
                <button (click)="addSpecialty()"  type="button" class="btn btn-success">{{textButton}}</button>
                <button (click)="closeModal()" type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cerrar</button>
            </div>
            <div class=col-lg-12 style="padding-top: 1rem;" *ngIf="formError == true">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error</strong> {{formErrorMsg}}
                    <button type="button" class="close" (click)="formError = false" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="specialty.estado && !isNew"  (click)="inactiveSpecialty(specialty.id)" type="button" class="btn btn-outline-danger  ml-auto" data-dismiss="modal">Desactivar</button>
    <button *ngIf="!specialty.estado && !isNew" (click)="activeSpecialty(specialty.id)" type="button" class="btn btn-outline-primary  ml-auto" data-dismiss="modal">Activar</button>
   
  </div>