<div class="row">
    <div class="col-lg-6">
        <label>Centro de costo</label>
        <p>{{programmingActivity.centro_costo.descripcion}}</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4" style="padding-top: 1rem;">
        <label>Actividad</label>
        <p>{{programmingActivity.actividad.descripcion}}</p>
    </div>
    <div class="col-lg-4" style="padding-top: 1rem;">
        <label for="">Horas Asignadas</label>
        <input [disabled]="disabledProgramming" type="number" (change)="changeHours()"
    min="0" max="{{this.weeklyHours - this.hoursUsed}}" class="form-control" placeholder="Ingrese horas" [(ngModel)]="inputHorasIngresadas">
    </div>
    <div class="col-lg-4" style="padding-top: 1rem;">
        <label for="">Rendimiento</label>
        <input type="number" min="0" max="100" class="form-control" placeholder="Rendimiento" [(ngModel)]="inputRendmiento" max="12">
    </div>
</div>
<div class="row">
    <div class=col-lg-12 style="padding-top: 1rem;" *ngIf="formError == true">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong> {{formErrorMsg}}<button type="button" class="close" (click)="formError = false" data-dismiss="alert"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="padding-top: 1rem;">
        <button (click)="updateActividad()" type="button" class="btn btn-success">Actualizar Actividad</button>
    </div>
</div>