<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Asociar nuevo profesional</h6>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <h3>Datos de profesional</h3>
        <div class="row">

            <ng-template #rt let-r="result" let-t="term">

                <ngb-highlight [result]="r.documento | rut " [term]="t"></ngb-highlight> -
                <ngb-highlight [result]="r.nombre" [term]="t"></ngb-highlight>
            </ng-template>
            <div class="col-4">
                <label class="bold-label-form" for="typeahead-template">Busque o ingrese profesional:</label>
                <input (selectItem)="getRut($event)" id="typeahead-template" type="text" class="form-control"
                    [(ngModel)]="profesionalModel" placeholder="Rut sin puntos" [ngbTypeahead]="search"
                    [resultTemplate]="rt" [inputFormatter]="formatter" (keypress)="onKeypressEvent($event)" />
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Nombre</label>
                <input type="text" class="form-control" placeholder="Apellido Paterno , Materno , nombres"
                    [(ngModel)]="inputNombre">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Titulo Profesional</label>
                <select class="form-control" [(ngModel)]="selectTituloProfesional" name="" id="">
                    <option value="0">Seleccione un titulo profesional</option>
                    <option *ngFor="let titulo of titulos" [value]="titulo.descripcion">{{titulo.descripcion}}</option>
                </select>
            </div>
        </div>
        <h3 style="margin-top: 1rem;">Datos de contrato</h3>
        <div class="row">
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Ley</label>
                <select class="form-control" [(ngModel)]="selectLey" name="" id="" (change)="leyChange()">
                    <option value="0">Seleccione una ley</option>
                    <option *ngFor="let ley of leyes" [value]="ley.codigo">{{ley.codigo}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Codigo correlativo contrato</label>
                <input type="number" class="form-control" placeholder="Ingrese codigo correlativo de contrato"
                    [(ngModel)]="inputCodigoCorrelativo">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Especialidad SIS</label>
                <input type="text" class="form-control" placeholder="Ingrese especialidad SIS"
                    [(ngModel)]="inputEspecialidad">
            </div>
            <div class="col-lg-4 calendarStyle">
                <label class="bold-label-form" for="">Fecha inicio de contrato</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [startDate]="startDates"
                            [(ngModel)]="txtDesde" ngbDatepicker #from #desde="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="desde.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 calendarStyle">
                <label class="bold-label-form" for="">Fecha fin de contrato</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dpi" [startDate]="endDates"
                            [(ngModel)]="txtHasta" ngbDatepicker #to #hasta="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="hasta.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Seleccione centros de costos</label>
                <select class="form-control col-lg-8" [(ngModel)]="selectedCC">
                    <option  disabled>Seleccione centros de costos</option>
                    <option *ngFor="let p of ListCc" [ngValue]="p.id">{{p.descripcion}}</option>
                </select>
            </div>
        </div>
        <h3 style="margin-top: 1rem;">Datos anexo de contrato</h3>
        <div class="row">
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Horas semanales contratadas</label>
                <input type="number" class="form-control" placeholder="Ingrese horas semanales contratadas"
                    [(ngModel)]="inputHoras" [disabled]="selectLey==15076">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Sistema de turnos</label>
                <select class="form-control" [(ngModel)]="selectTurnos" name="" id="">
                    <option value="0">Seleccione sistema de turnos</option>
                    <option value="S">Si</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Observaciones debe Identificar</label>
                <select class="form-control" [(ngModel)]="selectObservaciones" name="" id="">
                    <option value="Ninguno">Ninguno</option>
                    <option value="Medicos PAO">Medicos PAO</option>
                    <option value="Permiso Gremial">Permiso Gremial</option>
                    <option value="Liberado de guardia">Liberado de guardia</option>

                </select>
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Feriados legales</label>
                <input type="number" class="form-control" placeholder="Ingrese feriados legales" [(ngModel)]="inputFeriados">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Dias de descanso</label>
                <input type="number" class="form-control" placeholder="Ingrese dias de descanso" [(ngModel)]="inputDescanso">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Dias permisos administrativos</label>
                <input type="number" class="form-control" placeholder="Ingrese dias permisos administrativos" [(ngModel)]="inputPermisos">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Dias congreso y/o capacitación</label>
                <input type="number" class="form-control" placeholder="Ingrese congreso y/o capacitación" [(ngModel)]="inputCongreso">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Tiempo de lactancia (Min.)</label>
                <input type="number" class="form-control" placeholder="Ingrese tiempo de lactancia en minutos" [(ngModel)]="inputLactancia">
            </div>
            <div class="col-lg-4">
                <label class="bold-label-form" for="">Tiempo de colación semanal (Min.)</label>
                <input type="number" class="form-control" placeholder="Ingrese tiempo de colación semanal en minutos" [(ngModel)]="inputColacion">
            </div>
            <div class="col-lg-4 calendarStyle">
                <label class="bold-label-form" for="">Fecha inicio de programación</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [startDate]="startDatesProgramacion" [(ngModel)]="txtDesdeProgramacion" ngbDatepicker
                            #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 calendarStyle">
                <label class="bold-label-form" for="">Fecha fin de programación</label>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [startDate]="endDatesProgramacion" [(ngModel)]="txtHastaProgramacion" ngbDatepicker
                            #a="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button (click)="addProgramming()" type="button" class="btn btn-danger">Agregar profesional</button>
    <button (click)="closeModal()" type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cerrar</button>
</div>