<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">{{titleModal}}</h6>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 500px;min-height: 500px;">
    <section *ngIf="showGeneralInformation" [@myAnimation]>
      <div class="row">
        <div class="col-lg-4">
          <label for="">Contrato</label>
          <select class="form-control" (change)="changeContract($event)" [(ngModel)]="idSelectContract">
            <option value="0">Seleccione un contrato</option>
            <option [value]="contracts.id" *ngFor="let contracts of contract">{{contracts.codigo}} - Ley
              {{contracts.ley.codigo}}
            </option>
          </select>
        </div>
        <div class="col-lg-8">
          <label for="">Detalle contrato</label>
          <ng-container *ngIf="idSelectContract == 0">
            <p>Seleccione un contrato para ver su detalle</p>
          </ng-container>
          <div class="row" *ngFor="let c of contract">
            <ng-container *ngIf="c.id == idSelectContract && idSelectContract !=0 ">
                  <div class="col-lg-4">
                    <span>Contrato n° <strong><span>{{c.codigo}}</span></strong> </span>
                  </div>
                  <div class="col-lg-4">
                    <span>Ley <strong><span>{{c.ley.codigo}}</span></strong> </span>
                  </div>
                  <div class="col-lg-4">
                    <span>inicio <strong><span>{{c.inicio}}</span></strong></span>
                  </div>
                  <div class="col-lg-4">
                    <span>Termino <strong><span>{{c.termino}}</span></strong></span>
                  </div>
                </ng-container>
          </div>
        </div>
        <div class="col-lg-12" *ngIf="idSelectContract != 0 && !showProgramming" style="padding-top: 2rem;">
          <p>No se ha registrado programación asociada al contrato</p>
        </div>
        <div class="col-lg-12" *ngIf="idSelectContract != 0 && showProgramming" style="padding-top: 2rem;">
          <label for="" style="padding-bottom: 1rem;">Extensiones asociadas</label>
          <div class="table-responsive">
            <table class="table align-items-center table-flush table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="completion">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Estado">
                      Estado
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="name">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Horas semanales">
                      HH. S.
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="budget">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Sistema de turnos">
                      Sis. Turno
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="status">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Feriados legales">
                      F. L.
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="status">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Dias descanso compensatorio">
                      D. C.
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="completion">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Dias congreso o capacitación">
                      D. Permisos administrativos
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="completion">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Dias congreso o capacitación">
                      D. Congreso o capacitación
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="completion">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Tiempo de lactancia semanal (Min.)">
                      T. Lactancia
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="completion">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Tiempo de colacion semanal (Min.)">
                      T. Colacion
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="completion">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Fecha inicio de programación">
                      Fecha inicio prog.
                    </span>
                  </th>
                  <th scope="col" class="sort" data-sort="completion">
                    <span style="cursor: pointer;" placement="top" ngbTooltip="Fecha fin de programación">
                      Fecha fin prog.
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr *ngFor="let extension of extensions">
                  <th scope="row">
                    <span *ngIf="!extension.activo" style="color:#e82e39;font-weight:600">Desactivado</span>
                    <span *ngIf="extension.activo" style="color:#2dce89;font-weight:600" >Activado</span>
                  </th>
                  <th scope="row">
                    {{ extension.horas_semanales }}
                  </th>
                  <th scope="row" *ngIf="extension.sistema_turno">
                    Si
                  </th>
                  <th scope="row" *ngIf="!extension.sistema_turno">
                    No
                  </th>
                  <th scope="row">
                    {{ extension.dias.feriados_legales }}
                  </th>
                  <th scope="row">
                    {{ extension.dias.descanco_compensatorio }}
                  </th>
                  <th scope="row">
                    {{ extension.dias.permiso_administrativo }}
                  </th>
                  <th scope="row">
                    {{ extension.dias.congreso_capacitacion }}
                  </th>
                  <th scope="row">
                    {{ extension.tiempo.lactancia_semanal }}
                  </th>
                  <th scope="row">
                    {{ extension.tiempo.colacion_semanal }}
                  </th>
                  <th scope="row">
                    {{ extension.fecha_inicio }}
                  </th>
                  <th scope="row">
                    {{ extension.fecha_termino }}
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section [@myAnimation] *ngIf="showFormActivity">
      <app-form-extension
        [ley] = "numLaw"
        [idContrato] = "idSelectContract"
        (seeDetails)="seeDetails()">
      </app-form-extension>
    </section>
  </div>
  <div class="modal-footer">
    <button *ngIf="idSelectContract != 0 && showGeneralInformation" (click)="addActivity()" type="button"
      class="btn btn-danger">Nueva extensión de contrato</button>
    <button *ngIf="idSelectContract != 0 && !showGeneralInformation" (click)="backActivity()" type="button"
      class="btn btn-link">Atras</button>
    <button (click)="closeModal()" type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cerrar</button>
  </div>