<div class="row">
    <div class="col-lg-6">
        <label for="">Centro de costo</label>
        <select class="form-control" (change)="changeCC($event)" [(ngModel)]="idSelectCC">
            <option value="0">Seleccione un centro de costo</option>
            <option [value]="ccs.id" *ngFor="let ccs of cc">{{ccs.descripcion}}
        </select>
    </div>
    <div class="col-lg-6" *ngIf="showSpecialty && idSelectCC !=0">
        <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.descripcion" [term]="t"></ngb-highlight>
        </ng-template>
        <label for="typeahead-template">Busque y seleccione una especialidad:</label>
        <input (selectItem)="getActivityBySpecialty($event)" id="typeahead-template" type="text" class="form-control"
            [(ngModel)]="specialtyModel" placeholder="Escriba para filtrar una especialidad (Ejemplo : Medicina)" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
    </div>
</div>
<div class="row">
    <div class="col-lg-6" style="padding-top: 1rem;" *ngIf="showActivity && idSelectCC !=0">
        <ng-template #rtActivity let-r="result" let-t="term">
            <ngb-highlight [result]="r.descripcion" [term]="t"></ngb-highlight>
        </ng-template>
        <label for="typeahead-activity">Busque y seleccione una actividad:</label>
        <select class="form-control" (change)="filterActivity(activityModel)" [(ngModel)]="activityModel">
            <option hidden [selected] [ngValue]="undefined">Seleccione una actividad</option>
            <option [ngValue]="a" *ngFor="let a of activity">{{a.descripcion}}</option>
        </select>
    </div>
    
    <div class="col-lg-3" style="padding-top: 1rem;" *ngIf="activitySelected != undefined">
        <label for="">Horas asignadas</label>
        <input [disabled]="disabledProgramming" type="number"
        (change)="changeHours()"
        (keyup)="preventInput($event)" min="0" max="{{this.weeklyHours - this.hoursUsed}}" class="form-control" placeholder="Ingrese horas" [(ngModel)]="inputHorasIngresadas">
    </div>
    <div class="col-lg-3" style="padding-top: 1rem;" *ngIf="activitySelected != undefined">
        <label for="">Rendimiento</label>
        <input type="number" min="0" max="100" class="form-control" placeholder="Rendmiento" [(ngModel)]="inputRendmiento" max="12">
    </div>
    <div class=col-lg-6 style="padding-top: 1rem;" *ngIf="activitySelected != undefined  && formError == true">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong> {{formErrorMsg}}<button type="button" class="close" (click)="formError = false" data-dismiss="alert"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
    
    <div class="col-lg-12" style="padding-top: 1rem;" *ngIf="activitySelected != undefined">
        <button (click)="addActividad()" type="button" class="btn btn-success">Guardar Actividad</button>
    </div>
</div>