<!-- sidebar -->
<app-sidebar></app-sidebar>
<!-- content -->
<div class="main-content p-left" id="panel">
    <app-navbar></app-navbar>
    <div style="margin: 20px;">
        <h2>Planilla RRHH</h2>
        <form #registration="ngForm" (ngSubmit)="sincronizarPlanilla()">
            <div class="custom-file">
                <input  type="file" class="custom-file-input" id="planilla" name="planilla" lang="es" ngModel (change)="setFile($event.target.files)">
                <label class="custom-file-label" for="planilla">Seleccionar archivo</label>
            </div>
            <div style="margin-top: 20px;">
                <button type="button" type="submit" class="btn btn-primary btn-lg btn-block">Sincronizar Planilla</button>
            </div>
        </form>
        <div style="margin-top: 20px;">
            <button type="button" (click)="exportexcel()" class="btn btn-secondary btn-lg btn-block">Exportar Datos</button>
        </div>
    </div>  
</div>
<ng-template #modal let-modal id="modal">
    <div class="modal-header modal-header-account">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="mensajeError" class="modal-body modal-body-account">
        <span class="icon-feedback-error"></span>
        <h1 class="modal-body-account__title">{{ mensajeError }}</h1>
    </div>
    <div *ngIf="mensajeOK" class="modal-body modal-body-account">
        <span class="icon-feedback-ok"></span>
        <h1 class="modal-body-account__title">{{ mensajeOK }}</h1>
    </div>
</ng-template>