<div class="modal-header">
  <h6 class="modal-title" id="modal-title-default">{{titleModal}}</h6>
  <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body" style="max-height: 500px;min-height: 500px;">
  <section *ngIf="showGeneralInformation" [@myAnimation]>
    <div class="row">
      <div class="col-lg-4">
        <label for="">Contrato</label>
        <select class="form-control" (change)="changeContract($event)" [(ngModel)]="idSelectContract">
          <option value="0">Seleccione un contrato</option>
          <option [value]="contracts.id" *ngFor="let contracts of contract">{{contracts.codigo}} - Ley
            {{contracts.ley.codigo}}
          </option>
        </select>
        <label style="padding-top: 1rem;" for="">Extensión</label>
        <select class="form-control" (change)="changeExtension($event)" [(ngModel)]="idSelectExtension">
          <option hidden value="0">Seleccione una extensión</option>
          <option [value]="extension.id" *ngFor="let extension of extensions">{{extension.fecha_inicio}} - {{extension.fecha_termino}}
          </option>
        </select>
      </div>
      <div class="col-lg-8">
        <ng-container *ngIf="idSelectContract == 0">
          <label for="">Detalle contrato</label>
          <p>Seleccione un contrato para ver su detalle</p>
        </ng-container>
        <ng-container *ngIf="idSelectExtension == 0 && idSelectContract != 0">
          <p>Seleccione un contrato para ver su detalle</p>
        </ng-container>
        <ng-container *ngIf="idSelectContract != 0 && idSelectExtension != 0">
          <div class="row">
            <div class="col-lg-3">Detalle contrato</div>
            <div class="col-lg-3">Descuento Días</div>
            <div class="col-lg-3">Descuento Minutos</div>
            <div class="col-lg-3">Horas</div>
          </div>
        </ng-container>
          <div class="row" *ngFor="let c of contract">
            <ng-container *ngIf="c.id == idSelectContract && idSelectContract !=0 && idSelectExtension != 0">
             
              <div class="col-lg-3">
                <span>Ley <strong><span>{{c.ley.codigo}}</span></strong> </span>
              </div>
              <div class="col-lg-3">
                <ng-container *ngFor="let e of extensions">
                  <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                    <span>Feriado Legal <strong><span>{{e.dias.feriados_legales}}</span></strong> </span>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col-lg-3">
                <ng-container *ngFor="let e of extensions">
                  <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                    <span>Lactancia <strong><span>{{e.tiempo.lactancia_semanal}}</span></strong></span>
                  </ng-container>
                </ng-container>
              </div>
              <div class="col-lg-3">
                <span>Programadas <strong><span>{{round(hoursUsed, 0)}}</span></strong></span>
              </div>
            </ng-container>
          </div>
          <div class="row" *ngFor="let c of contract">
            <ng-container *ngIf="c.id == idSelectContract && idSelectContract !=0 && idSelectExtension != 0">
            <div class="col-lg-3">
              <ng-container *ngFor="let e of extensions">
                <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                  <span>N° Horas <strong><span>{{round(e.horas_semanales, 0)}}</span></strong> </span>
                </ng-container>
              </ng-container>
            </div>
            <div class="col-lg-3">
              <ng-container *ngFor="let e of extensions">
                <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                  <span>Compensatorio <strong><span>{{e.dias.descanco_compensatorio}}</span></strong> </span>
                </ng-container>
              </ng-container>
            </div>
            <div class="col-lg-3">
              <ng-container *ngFor="let e of extensions">
                <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                  <span>Colación <strong><span>{{e.tiempo.colacion_semanal}}</span></strong></span>
                </ng-container>
              </ng-container>
            </div>
            <div class="col-lg-3">
              <ng-container *ngFor="let e of extensions">
                <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                  <span>Disponible <strong><span>{{round(e.horas_semanales - hoursUsed,0)}}</span></strong></span>
              </ng-container>
            </ng-container>
            </div>
          </ng-container>
          </div>
          <div class="row" *ngFor="let c of contract">
            <ng-container *ngIf="c.id == idSelectContract && idSelectContract !=0 && idSelectExtension != 0">
            <div class="col-lg-3">
              <span>Periodo <strong><span>{{c.inicio}} a {{c.termino}}</span></strong> </span>
            </div>
            <div class="col-lg-3">
              <ng-container *ngFor="let e of extensions">
                <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                  <span>Administrativo <strong><span>{{e.dias.permiso_administrativo}}</span></strong> </span>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
          </div>
          <div class="row" *ngFor="let c of contract">
            <ng-container *ngIf="c.id == idSelectContract && idSelectContract !=0 && idSelectExtension != 0">
              <div class="col-lg-3">
                <span></span>
              </div>
              <div class="col-lg-3">
                <ng-container *ngFor="let e of extensions">
                  <ng-container *ngIf="e.id == idSelectExtension && idSelectExtension !=0 ">
                    <span>Capacitación <strong><span>{{e.dias.congreso_capacitacion}}</span></strong> </span>
                  </ng-container>
                </ng-container>
              </div>
          </ng-container>
          </div>
      </div>
      <div class="col-lg-12" *ngIf="idSelectContract != 0 && idSelectExtension != 0 && !showProgramming" style="padding-top: 2rem;">
        <p>No se ha registrado programación asociada al contrato</p>
      </div>
      <div class="col-lg-12" *ngIf="idSelectContract != 0 && idSelectExtension != 0 && showProgramming" style="padding-top: 2rem;">
        <label for="" style="padding-bottom: 1rem;">Actividades asociadas</label>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col" sortable="nombre" (sort)="onSort($event)" class="sort" data-sort="budget">
                  <span style="cursor: pointer;" placement="top" ngbTooltip="Especialidad">
                    Especialidad
                  </span>
                </th>
                <th scope="col" class="sort" data-sort="name">
                  <span style="cursor: pointer;" placement="top" ngbTooltip="ID">
                    ID
                  </span>
                </th>                
                <th scope="col" class="sort" data-sort="budget">
                  <span style="cursor: pointer;" placement="top" ngbTooltip="Actividad">
                    Actividad
                  </span>
                </th>
                <th scope="col" class="sort" data-sort="completion">
                  <span style="cursor: pointer;" placement="top" ngbTooltip="Horas asignadas">
                    H.Asig
                  </span>
                </th>
                <th scope="col" class="sort" data-sort="completion">
                  <span style="cursor: pointer;" placement="top" ngbTooltip="Rendimiento">
                    Rendimiento
                  </span>
                </th>
                <th scope="col" class="sort" data-sort="completion">
                  <span style="cursor: pointer;" placement="top" ngbTooltip="% Programado">
                    %
                  </span>
                </th>
                <th scope="col" class="sort" data-sort="completion">
                  <span style="cursor: pointer;" placement="top" ngbTooltip="Producción">
                    Prod
                  </span>
                </th>
                <th scope="col" class="sort" data-sort="completion">Opciones</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let programming of programmings$ | async">
                <td class="budget">
                  {{ programming.especialidad.descripcion}}
                </td>
                <th scope="row">
                  {{ programming.id }}
                </th>                
                <td class="budget">
                  <span style="cursor: pointer;" placement="bottom" ngbTooltip="{{programming.actividad.descripcion}}">
                    {{ (programming.actividad.descripcion.length>22) ? (programming.actividad.descripcion | slice:0:22)+'..':(programming.actividad.descripcion) }}
                  </span>
                </td>
                <td class="budget">
                  {{ programming.horas.asignadas}}
                </td>
                <td class="budget">
                  {{ programming.horas.rendimiento}}
                </td>
                <td class="budget">
                  {{porcentajeProgramado(programming.horas.asignadas)}}
                </td>
                <td class="budget" (click)="logProduction(programming.horas.asignadas, programming.horas.rendimiento)">
                  {{round(calculateProduction(programming.horas.asignadas, programming.horas.rendimiento), 0)}}
                </td>
                <td class="budget">
                  <img *ngIf="!isApprover && !isObserver && isProgrammer" src="/assets/img/edit.png" (click)="editActivity(programming)" style="width: 16px;margin-right: 10px;cursor: pointer;" alt="">
                  <img *ngIf="!isApprover && !isObserver && isProgrammer" src="/assets/img/trash.png" (click)="deleteActivity(programming.id)" style="width: 16px;cursor: pointer;" alt="">
                  <img *ngIf="isApprover && !isObserver && !isProgrammer" src="/assets/img/success.png" (click)="reviewChange(true, programming.id)" style="width: 16px;margin-right: 10px;cursor: pointer;" alt="">
                  <img *ngIf="isApprover && !isObserver && !isProgrammer" src="/assets/img/close.png" (click)="reviewChange(false, programming.id)" style="width: 16px;cursor: pointer;" alt="">
                  <span *ngIf="!isApprover && isObserver && !isProgrammer"style="color:#fc7c5f;font-weight:600">Sin Revisar</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Card footer -->
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="total$ | async" [(page)]="programmingService.page" [maxSize]="6"
            [pageSize]="programmingService.pageSize">
            <ng-template ngbPaginationPrevious>
              <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </ng-template>
            <ng-template ngbPaginationNext>
              <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </ng-template>
          </ngb-pagination>
          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="programmingService.pageSize">
            <option [ngValue]="2">2 profesionales por página</option>
            <option [ngValue]="4">4 profesionales por página</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  <section [@myAnimation] *ngIf="showFormActivity">
    <app-form-activity [periodActual]="periodActual" [weeklyHours]="weeklyHours" [numLaw]="numLaw" [hoursUsed]="hoursUsed" [idTypeActivity]="idTypeActivity"
    [idSelectExtension]="idSelectExtension" [cc]="cc" [addedProgram]="addedProgram" 
      [feriadosLegales] = "feriadosLegales"
      [diasDescanso] = "diasDescanso"
      [permisosAdministrativos] = "permisosAdministrativos"
      [capacitaciones] = "capacitaciones"
      [lactancia] = "lactancia"
      [colacion] = "colacion"
      [totalHorasContradas]="weeklyHours"
      [numberDiasDescuentos]="numberDiasDescuentos"
      (seeDetails)="seeDetails()">
    </app-form-activity>
  </section>
  <section [@myAnimation] *ngIf="showUpdateFormActivity">
    <app-update-form-activity [programmingActivity]="programmingActivityToEdit" [numLaw]="numLaw" [weeklyHours]="weeklyHours" [hoursUsed]="hoursUsed" (seeDetails)="seeDetails()"></app-update-form-activity>
  </section>
</div>
<div class="modal-footer">
  <button *ngIf="idSelectContract != 0 && showGeneralInformation && weeklyHours != hoursUsed && !isApprover && !isObserver && isProgrammer" (click)="addActivity()" type="button"
    class="btn btn-danger">Agregar actividades</button>
  <button *ngIf="idSelectContract != 0 && !showGeneralInformation" (click)="backActivity()" type="button"
    class="btn btn-link">Atras</button>
  <button (click)="closeModal()" type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cerrar</button>
</div>