<!-- sidebar -->
<app-sidebar></app-sidebar>
<!-- content -->
<div class="main-content p-left" id="panel">
  <!-- navbar -->
  <app-navbar></app-navbar>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-12 col-md-12 col-12">
            <h6 class="h2 text-white d-inline-block mb-0">Actividades</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-book"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Catátalogo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Actividades</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <!-- Light table -->
      <div class="col">
        <div class="card">
         
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Listado de actividades</h3>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12  d-flex justify-content-md-start justify-content-center">
            </div>
            <div class="col-lg-6 col-md-6 col-12  d-flex justify-content-center justify-content-md-end">
              <button style="margin-right: 2rem;" (click)="openModalAddActivity(ModalSpecialty)"
                class="btn btn-primary my-4">Agregar nueva +</button>
            </div>
          </div>
          <!-- Light table -->
          <div>
            <ag-grid-angular
              style="width: 100%; height: 500px;"
              class="ag-theme-alpine"
              [columnDefs]="columnas"
              [rowData]="activities"
              (rowClicked)="openModal(ModalSpecialty,$event.data)"
              [frameworkComponents]="frameworkComponents"
              (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
            <ng-template #ModalSpecialty let-modal>
              <app-modal-activity [activityTypes]="activityTypes" [activity]="activity" (closeModals)="closeModal()"
                (saveActivity)="saveActivity($event)">
              </app-modal-activity>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
