<section>
    <div class="row">
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Horas semanales contratadas</label>
            <input type="number" class="form-control" placeholder="Ingrese horas semanales contratadas" [(ngModel)]="inputHoras" [disabled]="disabledWeekHours">
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Sistema de turnos</label>
            <select class="form-control" [(ngModel)]="selectTurnos" name="" id="">
                <option value="0">Seleccione sistema de turnos</option>
                <option value="S">Si</option>
                <option value="N">No</option>
            </select>
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Observaciones debe Identificar</label>
            <select class="form-control" [(ngModel)]="selectObservaciones" name="" id="">
                <option value="Ninguno">Ninguno</option>
                <option value="Medicos PAO">Medicos PAO</option>
                <option value="Permiso Gremial">Permiso Gremial</option>
                <option value="Liberado de guardia">Liberado de guardia</option>
            </select>
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Feriados legales</label>
            <input type="number" class="form-control" placeholder="Ingrese codigo" [(ngModel)]="inputFeriados">
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Dias de descanso</label>
            <input type="number" class="form-control" placeholder="Ingrese codigo" [(ngModel)]="inputDescanso">
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Dias permisos administrativos</label>
            <input type="number" class="form-control" placeholder="Ingrese codigo" [(ngModel)]="inputPermisos">
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Dias congreso y/o capacitación</label>
            <input type="number" class="form-control" placeholder="Ingrese codigo" [(ngModel)]="inputCongreso">
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Tiempo de lactancia (Min.)</label>
            <input type="number" class="form-control" placeholder="Ingrese codigo" [(ngModel)]="inputLactancia">
        </div>
        <div class="col-lg-4">
            <label class="bold-label-form" for="">Tiempo de colación semanal (Min.)</label>
            <input type="number" class="form-control" placeholder="Ingrese codigo" [(ngModel)]="inputColacion">
        </div>
        <div class="col-lg-4 calendarStyle">
            <label class="bold-label-form" for="">Fecha inicio de programación</label>
            <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [startDate]="startDatesProgramacion" [(ngModel)]="txtDesdeProgramacion" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-4 calendarStyle">
            <label class="bold-label-form" for="">Fecha fin de programación</label>
            <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [startDate]="endDatesProgramacion" [(ngModel)]="txtHastaProgramacion" ngbDatepicker #a="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-12" style="padding-top: 1rem;">
            <button (click)="addExtension()" type="button" class="btn btn-success">Guardar extensión</button>
        </div>
    </div>
</section>