<!-- Main content -->
<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8">
    <img alt="Image placeholder" src="assets/img/logoserviciosalud.jpg" width="150"
      style="position: absolute;top:0; padding-top: 1.5rem; padding-left: 1.5rem;">
    <div class="container">
      <div class="header-body text-center">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5 mb-5">
            <h1 class="text-white">¡Bienvenido!</h1>
            <p class="text-lead text-white">Sistema de programación.....</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--9 pb-5 text-gray">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border border-soft mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center mb-4">
              <small>Ingrese sus credenciales de acceso</small>
            </div>
            <form role="form" [formGroup]="loginForm" id="loginForm" (ngSubmit)="login()">
              <div class="form-group mb-3">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input id="email" (keyup.enter)="login()" formControlName="email" required class="form-control" placeholder="Email"
                    type="email">
                </div>
                <div *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
                  <small *ngIf="loginForm.get('email').hasError('required')" class="form-text">
                    <span class="alert">Username requerido</span>
                  </small>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input id="password" (keyup.enter)="login()" formControlName="password" required class="form-control" placeholder="Contraseña"
                    type="password">
                </div>
                <div *ngIf="loginForm.get('password').errors && loginForm.get('password').dirty">
                  <small *ngIf="loginForm.get('password').hasError('required')" class="form-text">
                    <span class="alert">Contraseña requerida</span>
                  </small>
                </div>
              </div>
              <div class="text-center">
                <button type="button" (click)="login()" class="btn btn-primary my-4">Ingresar</button>
              </div>
            </form>
            <div *ngIf="alertSubmitError" class="alert alert-danger alert-dismissible fade show" role="alert">
              <span class="alert-icon"><strong> OOPS!</strong></span>
              <span class="alert-text"> Email y/o contraseña invalida, verifique por favor.</span>
              <button type="button" class="close" (click)="alertSubmitError = false" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="py-5" id="footer-main">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; 2020 <a href="https://www.ssbiobio.cl/" class="font-weight-bold ml-1" target="_blank">Servicio Salud
            BioBio</a>
        </div>
      </div>
      <div class="col-xl-6">
      </div>
    </div>
  </div>
</footer>