<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">{{titleModal}}</h6>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <h2>Usuario</h2>
            <div class="form-group col-lg-12 row">
                <label for="" class="col-lg-4 text-right col-form-label">Nombre</label>
                <input type="text" required class="form-control col-lg-8" placeholder="Ingrese Nombre"
                    [(ngModel)]="registro.nombre">
            </div>
            <div class="form-group col-lg-12 row">
                <label for="" class="col-lg-4 text-right col-form-label">Nombre de usuario</label>
                <input type="text" required class="form-control col-lg-8" placeholder="Ingrese Nombre de Usuario"
                    [(ngModel)]="registro.usuario">
            </div>
            <div class="form-group col-lg-12 row">
                <label for="" class="col-lg-4 text-right col-form-label">Rol de acceso</label>
                <select class="form-control col-lg-8" [(ngModel)]="registro.rol">
                    <option *ngFor="let p of roles" [ngValue]="p.id">{{p.codigo}}</option>
                </select>
            </div>
            <div class="form-group col-lg-12 row">
                <label for="" class="col-lg-4 text-right col-form-label">Centro de Costo</label>
                <select class="form-control col-lg-8" [(ngModel)]="registro.centro_costo">
                    <option *ngFor="let p of ccs" [ngValue]="p.id">{{p.descripcion}}</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <button (click)="saveUpdate()" type="button" class="btn btn-outline-success" data-dismiss="modal">Aceptar</button>
        <button (click)="closeModal()" type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cerrar</button>
    </div>
   <div class="row">
    <button *ngIf="registro.activo && !isNew" (click)="delete()" type="button" class="btn btn-outline-danger  ml-auto" data-dismiss="modal">Desactivar</button>
    <button *ngIf="!registro.activo && !isNew" (click)="delete()" type="button" class="btn btn-outline-primary  ml-auto" data-dismiss="modal">Activar</button>
   </div>
    
</div>
