.calendarStyle {
    .form-group {
        .input-group {
            .dropdown-menu {
                .ngb-dp-header {
                    background-color: #0A48B3 !important;
                }
                .ngb-dp-content {
                    .ngb-dp-month  {
                        .ngb-dp-weekdays {
                            background-color: #0A48B3 !important;
                            .ngb-dp-weekday {
                                color: #fff;
                                .ngb-dp-week {
                                    .ngb-dp-day {
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.btn-light {
    color: #0A48B3 !important;
    background-color: #fff!important;

}
.ngb-dp-navigation-chevron {
    color: #fff !important;
}