/* You can add global styles to this file, and also import other style files */
@import './styles/dashboard.scss';
@import './styles/custom/calendar';
@import '~ng-wizard/themes/ng_wizard.min.css';
@import '~ngx-toastr/toastr';
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
// html,
// body {
//   height: 100%;
// }
// body {
//   overflow-x: hidden;
//   margin:0;padding:0;
// }

@include media-breakpoint-down(md) {
  .p-left {
    padding-left: 0px;
  }
  .form-group {
    margin-bottom: 0rem;
}
}
@include media-breakpoint-up(md) {
  .p-left {
    padding-left: 62px;
  }
}

@media (min-width: 768px) {
  .modal-xl {
    min-width: 90% !important;
    max-width: 90% !important;
  }
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
