<!-- sidebar -->
<app-sidebar></app-sidebar>
<!-- content -->
<div class="main-content p-left" id="panel">
  <!-- navbar -->
  <app-navbar></app-navbar>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Programación</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Programación</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ingresar</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <!-- Light table -->
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Listado de profesionales para programar</h3>
          </div>
          <div class="row">
            <div class="col-12 d-flex  d-flex justify-content-md-end justify-content-center">
              <div class="form-group form-inline" style="padding-right: 3rem;">
                <span class="ml-3" *ngIf="professionalService.loading$ | async">Cargando...</span>
              </div>
            </div>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                
                  <th scope="col" width="20%"  >RUT</th>
                  <th scope="col" width="30%" sortable="nombre" >Nombre</th>
                  <th scope="col" width="15%" >Ley</th>
                  <th scope="col" width="25%">% programado &nbsp;  <a style="cursor: pointer;" (click)="getPorcentajes()"><img style="width:13px;" src="/assets/img/refresh.png" alt=""></a></th>
                  <th scope="col" width="10%">Contratos</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr *ngFor="let profesional of professionals$ | async">
                  <td class="budget">
                    {{ profesional.documento.numero | rut}}
                  </td>
                  <td>
                    <ngb-highlight [result]="profesional.nombre" [term]="professionalService.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    {{profesional.leyes}}
                  </td>
                  <td>
                    <div *ngIf="!porcentajesView" class="d-flex align-items-center">
                      <img src="/assets/img/spinner.gif" style="width: 28px;" alt="">
                    </div>
                    
                    <div *ngIf="porcentajesView" class="d-flex align-items-center">
                      <span class="completion mr-2">{{profesional.porcentaje}} %</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="profesional.porcentaje" aria-valuemin="0"
                            aria-valuemax="100" [style.width.%]="profesional.porcentaje"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="d-flex align-items-center">
                    <button *ngIf="hasAccess" type="button" (click)="openModal(ModalProgramming, profesional.nombre, profesional.id, profesional.tipo_actividad)" class="btn btn-danger btn-sm"> <i class="fa fa-search" aria-hidden="true"></i> Contratos</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="row  d-none d-md-block" style="margin-left: 1rem;margin-right: 1rem;margin-top: 1rem;">
            <div clas="col-md-12">
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="professionalService.page" [maxSize]="6"
                  [pageSize]="professionalService.pageSize">
                  <ng-template ngbPaginationPrevious>
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </ng-template>
                  <ng-template ngbPaginationNext>
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </ng-template>
                </ngb-pagination>
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="professionalService.pageSize">
                  <option [ngValue]="6">6 profesionales por página</option>
                  <option [ngValue]="10">10 profesionales por página</option>
                  <option [ngValue]="15">15 profesionales por página</option>
                  <option [ngValue]="20">20 profesionales por página</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Card footer -->
          <div class="row d-block d-sm-none" style="padding-top: 2rem;padding-bottom: 2rem;">
            <div class="col-12 d-flex justify-content-center">
              <ngb-pagination [collectionSize]="total$ | async" [(page)]="professionalService.page" [maxSize]="1"
                [pageSize]="professionalService.pageSize">
                <ng-template ngbPaginationPrevious>
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </ng-template>
                <ng-template ngbPaginationNext>
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </ng-template>
              </ngb-pagination>
            </div>
          <div class="col-12 d-flex justify-content-center">
            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="professionalService.pageSize">
              <option [ngValue]="6">6 profesionales por página</option>
              <option [ngValue]="10">10 profesionales por página</option>
              <option [ngValue]="15">15 profesionales por página</option>
              <option [ngValue]="20">20 profesionales por página</option>
            </select>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
  </div>
</div>
<ng-template #ModalProgramming let-modal>
  <app-modal-programming 
  [nameProfessional]="nameProfessional"
  [idProfessional]="idProfessional"
  [periodActual]="periodActual"
  [typeActivity]="typeActivity"
  (closeModals)="closeModal()"
  >
  </app-modal-programming>
</ng-template>