// @import '../../../styles.scss';
// ::selection {
//     background-color: #0273d4;
//     color: #fff;
// }

// a {
//     color: #0273d4;
//     text-decoration: none;
// }
// a:hover {
//     border-bottom: 1px dotted #0273d4;
// }

// p {
//     margin-bottom: 1em;
// }

// h1,
// h2 {
//     font-weight: 300;
// }

// h1 {
//     border-bottom: 1px dotted #0273d4;
//     display: block;
//     margin: 2rem 0 1rem;
//     padding-bottom: 0.5rem;
// }

// h2 {
//     margin: 0.5rem 0;
// }

// .loading {
//     padding: 1em;
// }
a.active {
    font-weight: bold;
}
a.active-icon {
    background-color: rgba(10, 72, 179, 0.2);
}
li.active-icon {
    background-color: rgba(10, 72, 179, 0.2);
}
::ng-deep aside {
    background-color: #fff;
    padding: 2em 1em;
}
.ng-sidebar {
    width: 14rem;
    background-color: #fff;
}
.demo-header {
    align-items: center;
    background: #0273d4;
    color: #fff;
    display: flex;
    padding: 1em;
}

.demo-header__toggle {
    background: transparent;
    border: 0.15rem solid #fff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;
}
.demo-header__toggle:after {
    background: #fff;
    content: "";
    height: 0.15rem;
    left: 0;
    margin-top: -0.075rem;
    position: absolute;
    top: 50%;
    width: 100%;
}

.demo-sidebar.ng-sidebar--opened.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    width: 14rem;
    background-color: white;
}

.demo-contents {
    padding: 0 2em;
}

.demo-control {
    background-color: #f6f6f6;
    border: 1px solid #545555;
    cursor: pointer;
    margin-bottom: 0.5em;
    padding: 0.5em 2em;
    transition: background-color 0.15s;
}

.demo-control:hover {
    background-color: #545555;
    color: #fff;
}

.sidebar-hide {
    width: 62px !important;
}
.sid-minimalist {
    height: 100vh !important;
    position: absolute !important;
    // z-index: 9999 !important;
    width: 14rem !important;
}
.shadowSidebar {
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 0 4px 10px rgba(0,0,0,.25);
  box-shadow: 0 4px 10px rgba(0,0,0,.25);
}