<ng-sidebar-container class="sid-minimalist d-none d-md-block" [ngClass]="{
  'sidebar-hide': !_opened}">
  <ng-sidebar [(opened)]="_opened" [dock]="true" [sidebarClass]="'shadowSidebar'" [mode]="'over'" [dockedSize]="'62px'" [closeOnClickOutside]="true">
    <ul class="nav flex-column" *ngIf="_opened" style="margin-left: 1rem;margin-right: 1rem;">
      <div class="sidenav-header d-flex  align-items-center">
        <a class="navbar-brand">
          Servicio de Salud
        </a>
        <div class="ml-auto">
          <div class="sidenav-toggler d-none d-xl-block" (click)="_opened = !_opened">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <li class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsed = !isCollapsed" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" routerLinkActive="active-icon"><i
            class="ni ni-shop text-primary"></i> Inicio</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsed" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/home']" aria-controls="collapseExample"
          routerLinkActive="active-icon">Home</a>
      </li>
      <li class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsedProgramming = !isCollapsedProgramming" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsedProgramming" aria-controls="collapseExampleProgramming"
          routerLinkActive="active-icon"><i class="ni ni-ungroup text-orange"></i> Programación</a>
      </li>
      <li id="collapseExampleProgramming" [ngbCollapse]="isCollapsedProgramming" class="nav-item"
        style="margin-right: 0.9rem;">
        <a class="nav-link" [routerLink]="['/programacion']" style="font-size: 13px;"
          routerLinkActive="active-icon">Ingresar</a>
      </li>
      <li *ngIf="rol == 1" class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsedCatalogue = !isCollapsedCatalogue" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsedCatalogue" aria-controls="collapseExample" routerLinkActive="active-icon"><i
            class="fas fa-book"></i> Catalógo</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/profesional']"
          routerLinkActive="active-icon">Profesionales</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/especialidad']"
          routerLinkActive="active-icon">Especialidades</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/actividad']"
          routerLinkActive="active-icon">Actividades</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/centro-costo']"
          routerLinkActive="active-icon">Centro de costos</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/leyes']" routerLinkActive="active-icon">Leyes</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/sincronizador']" routerLinkActive="active-icon">Sincronizador</a>
      </li>
      <li *ngIf="rol == 1" id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/user']" routerLinkActive="active-icon">Usuario</a>
      </li>
    </ul>
    <!-- Menu minimalista -->
    <ul class="nav flex-column align-items-end" *ngIf="!_opened">
      <div class="sidenav-toggler d-none d-md-block" (click)="_opened = !_opened"
        style="margin-top: 2rem;margin-right: 1.4rem;">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
        </div>
      </div>
      <li class="nav-item" style="margin-top: 3rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsed = !isCollapsed" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" routerLinkActive="active-icon"><i class="ni ni-shop text-primary"></i></a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsed" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/home']" routerLinkActive="active-icon">H</a>
      </li>
      <li class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsedProgramming = !isCollapsedProgramming" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsedProgramming" aria-controls="collapseExampleProgramming"
          routerLinkActive="active-icon"><i class="ni ni-ungroup text-orange"></i></a>
      </li>
      <li id="collapseExampleProgramming" [ngbCollapse]="isCollapsedProgramming" class="nav-item"
        style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/programacion']"
          routerLinkActive="active-icon">I</a>
      </li>
      <li *ngIf="rol == 1" class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" style="font-size: 13px;" (click)="isCollapsedCatalogue = !isCollapsedCatalogue"
          style="cursor: pointer;" [attr.aria-expanded]="!isCollapsedCatalogue"
          aria-controls="collapseExampleProgramming" routerLinkActive="active-icon"><i
            class="fas fa-book text-primary"></i></a>
      </li>
      <li id="collapseExampleProgramming" [ngbCollapse]="isCollapsedCatalogue" class="nav-item"
        style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/profesional']"
          routerLinkActive="active-icon">P</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/especialidad']"
          routerLinkActive="active-icon">E</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/actividad']" routerLinkActive="active-icon">A</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.6rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/centro-costo']"
          routerLinkActive="active-icon">CC</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/leyes']" routerLinkActive="active-icon">L</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/sincronizador']" routerLinkActive="active-icon">S</a>
      </li>
       <li *ngIf="rol == 1" id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/user']" routerLinkActive="active-icon">U</a>
      </li>
    </ul>
  </ng-sidebar>
</ng-sidebar-container>

<!-- Mobile -->
<ng-sidebar-container class="sid-minimalist d-block d-md-none" [ngClass]="{
  'sidebar-hide': !_opened}">
  <ng-sidebar [(opened)]="_opened" [mode]="'over'" [closeOnClickOutside]="true">
    <ul class="nav flex-column" *ngIf="_opened" style="margin-left: 1rem;margin-right: 1rem;">
      <div class="sidenav-header d-flex  align-items-center">
        <a class="navbar-brand">
          Servicio de Salud
        </a>
        <div class="ml-auto">
          <div class="sidenav-toggler d-none d-xl-block" (click)="_opened = !_opened">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <li class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsed = !isCollapsed" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" routerLinkActive="active-icon"><i
            class="ni ni-shop text-primary"></i> Inicio</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsed" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/home']" aria-controls="collapseExample"
          routerLinkActive="active-icon">Home</a>
      </li>
      <li class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsedProgramming = !isCollapsedProgramming" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsedProgramming" aria-controls="collapseExampleProgramming"
          routerLinkActive="active-icon"><i class="ni ni-ungroup text-orange"></i> Programación</a>
      </li>
      <li id="collapseExampleProgramming" [ngbCollapse]="isCollapsedProgramming" class="nav-item"
        style="margin-right: 0.9rem;">
        <a class="nav-link" [routerLink]="['/programacion']" style="font-size: 13px;"
          routerLinkActive="active-icon">Ingresar</a>
      </li>
      <li *ngIf="rol == 1" class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsedCatalogue = !isCollapsedCatalogue" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsedCatalogue" aria-controls="collapseExample" routerLinkActive="active-icon"><i
            class="fas fa-book"></i> Catalógo</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/profesional']"
          routerLinkActive="active-icon">Profesionales</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/especialidad']"
          routerLinkActive="active-icon">Especialidades</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/actividad']"
          routerLinkActive="active-icon">Actividades</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/centro-costo']"
          routerLinkActive="active-icon">Centro de costos</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/leyes']" routerLinkActive="active-icon">Leyes</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/sincronizador']" routerLinkActive="active-icon">Sincronizador</a>
      </li>
       <li *ngIf="rol == 1" id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/user']" routerLinkActive="active-icon">Usuario</a>
      </li>
    </ul>
    <!-- Menu minimalista -->
    <ul class="nav flex-column align-items-end" *ngIf="!_opened">
      <div class="sidenav-toggler d-none d-md-block" (click)="_opened = !_opened"
        style="margin-top: 2rem;margin-right: 1.4rem;">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
          <i class="sidenav-toggler-line"></i>
        </div>
      </div>
      <li class="nav-item" style="margin-top: 3rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsed = !isCollapsed" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" routerLinkActive="active-icon"><i class="ni ni-shop text-primary"></i></a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsed" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/home']" routerLinkActive="active-icon">H</a>
      </li>
      <li class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" (click)="isCollapsedProgramming = !isCollapsedProgramming" style="cursor: pointer;"
          [attr.aria-expanded]="!isCollapsedProgramming" aria-controls="collapseExampleProgramming"
          routerLinkActive="active-icon"><i class="ni ni-ungroup text-orange"></i></a>
      </li>
      <li id="collapseExampleProgramming" [ngbCollapse]="isCollapsedProgramming" class="nav-item"
        style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/programacion']"
          routerLinkActive="active-icon">I</a>
      </li>
      <li *ngIf="rol == 1" class="nav-item" style="margin-top: 1rem;margin-right: 0.7rem;">
        <a class="nav-link" style="font-size: 13px;" (click)="isCollapsedCatalogue = !isCollapsedCatalogue"
          style="cursor: pointer;" [attr.aria-expanded]="!isCollapsedCatalogue"
          aria-controls="collapseExampleProgramming" routerLinkActive="active-icon"><i
            class="fas fa-book text-primary"></i></a>
      </li>
      <li id="collapseExampleProgramming" [ngbCollapse]="isCollapsedCatalogue" class="nav-item"
        style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/profesional']"
          routerLinkActive="active-icon">P</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/especialidad']"
          routerLinkActive="active-icon">E</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/actividad']" routerLinkActive="active-icon">A</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.6rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/centro-costo']"
          routerLinkActive="active-icon">CC</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/leyes']" routerLinkActive="active-icon">L</a>
      </li>
      <li id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/sincronizador']" routerLinkActive="active-icon">S</a>
      </li>
       <li *ngIf="rol == 1" id="collapseExample" [ngbCollapse]="isCollapsedCatalogue" class="nav-item" style="margin-right: 0.9rem;">
        <a class="nav-link" style="font-size: 13px;" [routerLink]="['/user']" routerLinkActive="active-icon">U</a>
      </li>
    </ul>
  </ng-sidebar>
</ng-sidebar-container>